<header>
    <nav>
        <div class="logo">
            <a href="/" title="PR-WAR Home">
                <img src="logo-minimal.svg" width="70" alt="">
            </a>
        </div>
        <p>Who's Winning the News?</p>
        <p class="links">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </p>
    </nav>
</header>